<!DOCTYPE html>
	
	<head>
		<title>sscan result</title>

        <link rel="stylesheet" href="/static/bootstrap.css">
		<link rel="stylesheet" href="/static/bootstrap-table.css">

		<script src="/static/jquery-3.2.1.min.js"></script>
		<script src="/static/bootstrap-table.js"></script>
		<style> 
 			table {word-break: break-all}
		</style>
	</head>
	<body>


        <div>
            <h1>scan result</h1>
            <table data-toggle="table" data-pagination="true" data-url="getresult">

                <thead>
                    <th data-field="type">type</th>
                    <th data-field="method">method</th>
                    <th data-field="url">url</th>
                    <th data-field="payload">payload</th>
                </thead>
                <tbody id="result-table">
                </tbody>
            </table>
        </div>
        <div class="highlight">
            <h1>http message</h1>
            <pre><code class="language-html" id="html">here is http message.</code></pre>
        </div>
	</body>
    <script>
        $("#html").text(result[0].message);
    </script>
</html>